{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>         
        <li class="active">{% trans 'Standards' %}</li>
    </ul>
{% endblock %}

{% block main_content %}

<div class="page-title">
    <h2><span class="fa fa-book"></span>
        {% trans 'Standards' %}
    </h2>
</div>

<div id="manageStandard" class="panel-body tab-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% include 'message.html' %}
                        <div class="pull-right">
                            <a href="{% url 'create_standard' %}">
                                <button class="btn btn-default btn-success" id="btnPrint">
                                    <span class="fa fa-plus"></span>
                                    {% trans 'Add' %}
                                </button>
                            </a>
                        </div>
                        <table id="standards_table" class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'Name' %}</th>
                                    <th>{% trans 'Template' %}</th>
                                    <th>{% trans 'Year' %}</th>
                                    <th>{% trans 'Status' %}</th>
                                    <th>{% trans 'Delete' %}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="message-box animated fadeIn" id="mb-delete">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title">
                <span class="fa fa-delete"></span>
                {% trans 'Delete?' %}
            </div>
            <div class="mb-content">
                <p>{% trans 'Are you sure you want to delete this standard.' %} </p>                    
                <p>
                    {% trans 'Press Yes if you want to delete. Press No to continue.' %}
                </p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                  <button class="btn btn-success btn-lg mb-control-delete">Yes</button>
                  <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block bottomjs %}
  {{block.super}}
  <script>

    var currentStandardId;

    $('#standards_table').DataTable( {
        "processing": true,
        "serverSide": true,
        "searching": false,
        "ordering": false,
        "stateSave": true,
        "ajax": "{% url 'standard' %}"
    });

    $('#manageStandard').on('click', '.delete_notice', function(){
        currentStandardId = $(this).attr('id');
        var box = $($(this).data("box"));
        if(box.length > 0){
            box.toggleClass("open");
        }
        return false;
     });

    $(".mb-control-delete").on("click",function(){
        window.location.href = "/am/standard/delete/" + currentStandardId;
    });

  </script>
{% endblock %}
