{% extends 'auth_base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block main_content%}

    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <div class="login-title">
                <strong>{% trans 'Welcome to' %} {{request.tenant}} </strong>, {% trans 'Please login' %}
            </div>
            <form action="" class="form-horizontal" method="post">
                {% csrf_token %}
                {% if form.errors %}
                  {% for key, error in form.errors.items %}
                    <div class="alert alert-danger" role="alert">
                        {{key}}: {{error}}
                    </div>
                  {% endfor %}
                {% endif %}
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" name='email' placeholder="Email"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a href="{% url 'login'%}" class="btn btn-link">{% trans 'login' %}</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info btn-block">{% trans 'Submit' %}</button>
                    </div>
                </div>
            </form>
        </div>  
        <div class="login-footer">
        </div>
    </div>

{% endblock %}