{% extends 'auth_base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block main_content%}
        
    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <div class="login-title">
                {% trans 'Thanks for spending some quality time with us today.' %}
            </div>
            <div class="col-md-6">
                <a href="{% url 'login' %}">
                    <button class="btn btn-info btn-block">{% trans 'Log in again' %}</button>
                </a>
            </div>
        </div>  
        <div class="login-footer">
        	
        </div>
    </div>
        
{% endblock %}




