{% load i18n %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table id="my_notication_table" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'template'%}</th>
                            <th>{% trans 'text' %}</th>
                        </tr>
                    </thead>
                </table>                                    
            </div>
        </div>
    </div>
</div>
