{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>         
        <li class="active">{% trans 'Notifications' %}</li>
    </ul>
{% endblock %}

{% block main_content %}

<div class="page-title">                    
    <h2><span class="fa fa-envelope"></span>
        {% trans 'Notifications' %}
    </h2>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table id="my_notication_table" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'template'%}</th>
                            <th>{% trans 'text' %}</th>
                        </tr>
                    </thead>
                </table>                                    
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block bottomjs %}
  {{block.super}}
  <script>
    $('#my_notication_table').DataTable( {
        "processing": true,
        "serverSide": true,
        "searching": false,
        "ordering": false,
        "stateSave": true,
        "ajax": "{% url 'get_my_notifications' %}"
    } );
   </script>
{% endblock %}