{% extends 'base.html' %}
    {% load i18n %}
    {% load staticfiles %}
    {% block breadcrumb %}
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>         
            <li class="active">{% trans 'NoticeBoard' %}</li>
        </ul>
    {% endblock %}

    {% block main_content %}

        <style>

        h3{
            color: #fff;
        }

        div.green-board {
            height: auto;
            margin: 30px auto;
            padding: 15px;
            color: #fff;
            font-size: 20px;
            text-align: center;
            background-color: rgb(6,116,46);
            border: 14px solid;
            font-family: 'Roboto Slab', serif;
            font-style: italic;
            border-image: url("{% static 'common/img/blackboard.png' %}") 10;
        }
        </style>

        <div class="content-frame">                                    

            <div class="content-frame-top">                        
                <div class="page-title">                    
                    <h2><span class="fa fa-envelope"></span> {% trans 'Notice' %}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        <div class="pull-right">
                            <a href="{% url 'notice_board' %}"> 
                                <button class="btn btn-success pull-right">
                                    <span class="fa fa-mail-reply"></span>
                                    {% trans 'Back' %}
                                </button>
                            </a>
                            <button class="btn btn-default content-frame-left-toggle">
                                <span class="fa fa-bars"></span>
                            </button>

                            <button class="btn btn-default" id="btnPrint">
                                <span class="fa fa-print"></span> {% trans 'Print' %}
                            </button>

                        </div>
                    </div>
                    <div class="row panel-body" id="notice-content">
                        <div class="col-md-2"></div>    
                        <div class="col-md-8 green-board">
                            <h3>{{notice.name}}
                                <small class="pull-right text-muted">
                                <span class="fa fa-clock-o"></span> {{notice.creted_on}}
                                </small>
                            </h3>
                            {{notice.text| safe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#notice-content").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>'+'{{request.tenant.name}}'+'</title>');
            printWindow.document.write('</head><body>');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
            printWindow.close(); 
        });
    </script>


{% endblock %}

