{% load i18n %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% include 'message.html' %}
                <div class="pull-right">
                    <a href="{% url 'create_notice' %}">
                        <button class="btn btn-default btn-success" id="btnPrint">
                            <span class="fa fa-plus"></span> {% trans 'Add' %}
                        </button>
                    </a>
                </div>
                <table id="list_notices_table" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'Title' %}</th>
                            <th>{% trans 'Notice'%}</th>
                            <th>{% trans 'Date' %}</th>
                            <th>{% trans 'Edit' %}</th>
                            <th>{% trans 'Publish' %}</th>
                            <th>{% trans 'Delete' %}</th>
                        </tr>
                    </thead>
                </table>                                    
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div id="modal-content" class="message-box animated fadeIn" data-sound="fail">
            <div class="mb-container col-md-offset-4 col-md-4">
                        <div class="mb-middle">
                            <div class="mb-content">
                                <h4>Do u want to delete this notice?</h4>                    
                            </div>
                            <div class="mb-footer">
                                <button id='delete-btn' class="btn btn-danger btn-default btn-lg pull-right mb-control-close" >Delete</button>
                                <button id="close-btn" class="btn btn-success btn-default btn-lg pull-right mb-control-close" style="margin-right: 10px">Close</button>                        
                            </div>
                        </div>
                    </div>
        </div>
</div>
    

<div id="myModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
    </div>
</div>
</div>


