{% load i18n %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% include 'message.html' %}
                <div class="pull-right">
                    <a href="{% url 'create_notice' %}">
                        <button class="btn btn-default btn-success" id="btnPrint">
                            <span class="fa fa-plus"></span> {% trans 'Add' %}
                        </button>
                    </a>
                </div>
                <table id="manage_notices_table" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'Title' %}</th>
                            <th>{% trans 'Notice'%}</th>
                            <th>{% trans 'Date' %}</th>
                            <th>{% trans 'Edit' %}</th>
                            <th>{% trans 'Publish' %}</th>
                            <th>{% trans 'Delete' %}</th>
                        </tr>
                    </thead>
                </table>                                    
            </div>
        </div>
    </div>
</div>

<div class="message-box animated fadeIn" id="mb-delete">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title">
                <span class="fa fa-delete"></span>
                {% trans 'Delete?' %}
            </div>
            <div class="mb-content">
                <p>{% trans 'Are you sure you want to delete this notice.' %} </p>                    
                <p>
                    {% trans 'Press Yes if you want to delete. Press No to continue.' %}
                </p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                  <button class="btn btn-success btn-lg mb-control-delete">Yes</button>
                  <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="manageNotice" tabindex="-1" role="dialog"
     aria-labelledby="noticeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">{% trans 'Notice' %}</h4>
            </div>
            <div class="modal-body">
                <div class="te"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
