{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>         
        <li class="active">{% trans 'NoticeBoard' %}</li>
    </ul>
{% endblock %}

{% block main_content %}

<div class="page-title">
    <h2><span class="fa fa-envelope"></span>
        {% trans 'NoticeBoard' %}
    </h2>
</div>


<div class="panel panel-default tabs">                            
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#manage_notices" role="tab" data-toggle="tab">
                {% trans 'Manage' %}
            </a>
        </li>
        <li>
            <a href="#my_notices" role="tab" data-toggle="tab">
                {% trans 'Notices' %}
            </a>
        </li>
    </ul>

    <div class="panel-body tab-content">
        <div class="tab-pane" id="my_notices">
            {% include 'my_notices.html' %}
        </div>
        <div class="tab-pane active" id="manage_notices">
            {% include 'list_notices.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block bottomjs %}
  {{block.super}}
  <script>
    $('#my_notices_table').DataTable( {
        "processing": true,
        "serverSide": true,
        "searching": false,
        "ordering": false,
        "stateSave": true,
        "ajax": "{% url 'my_notices' %}"
    } );
    $('#list_notices_table').DataTable( {
        "processing": true,
        "serverSide": true,
        "searching": false,
        "ordering": false,
        "stateSave": true,
        "ajax": "{% url 'list_notices' %}"
    } );

    function delete_notice(notice_id) {
        var notice_id = 1;
    }

   </script>
{% endblock %}