{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>         
        <li class="active">{% trans 'NoticeBoard' %}</li>
    </ul>
{% endblock %}

{% block main_content %}

<div class="page-title">                    
    <h2><span class="fa fa-envelope"></span>
        {% trans 'NoticeBoard' %}
    </h2>
</div>


<div class="panel panel-default tabs">                            
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#my_notices" role="tab" data-toggle="tab">
                {% trans 'My Notices' %}
            </a>
        </li>
        <li>
            <a href="#manage_notices" role="tab" data-toggle="tab">
                {% trans 'Manage Notices' %}
            </a>
        </li>
    </ul>

    <div class="panel-body tab-content">
        <div class="tab-pane active" id="my_notices">
            {% include 'my_notices.html' %}
        </div>
        <div class="tab-pane" id="manage_notices">
            {% include 'list_notices.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block bottomjs %}
  {{block.super}}
  <script>
    $('#my_notices_table').DataTable( {
        "processing": true,
        "serverSide": true,
        "searching": false,
        "ordering": false,
        "stateSave": true,
        "ajax": "{% url 'my_notices' %}"
    } );
    $('#list_notices_table').DataTable( {
        "processing": true,
        "serverSide": true,
        "searching": false,
        "ordering": false,
        "stateSave": true,
        "ajax": "{% url 'list_notices' %}"
    } );

    $("#btnPrint").live("click", function () {
        var divContents = $("#notice-content").html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>'+'{{request.tenant.name}}'+'</title>');
        printWindow.document.write('</head><body>');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
        printWindow.close(); 
    });

    function delete_notice(notice_id) {
        alert(notice_id);
        $("#message-box-danger").show();
    }

    
 

   </script>
{% endblock %}