<html>
{% load staticfiles %}
{% load i18n %}
    <head>
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'common/css/styles.css' %}"/>
    </head>
    <body>
        <div class="content-frame notice-board">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="notice-content">
                        <div class="green-board ">
                            <small class="pull-right text-muted">
                                <span class="fa fa-clock-o"></span> {{notice.creted_on}}
                            </small>
                            <h3>
                                {{notice.name}}
                            </h3>
                            {{notice.text| safe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <body>
</html>
