{% load i18n %}
<div class="page-sidebar">
    <ul class="x-navigation">
        <li class="xn-logo">
            <a href="">{{request.tenant.code}}</a>
            <a href="" class="x-navigation-control"></a>
        </li>
        <li class="xn-profile">
            <a href="#" class="profile-mini">
                <img src="{{request.user.profile_pic}}" alt="{{request.user.get_full_name}}"/>
            </a>
            <div class="profile">
                <div class="profile-image">
                    <img src="{{request.user.profile_pic}}" alt="{{request.user.get_full_name}}"/>
                </div>
                <div class="profile-data">
                    <div class="profile-data-name">{{request.user.get_full_name}}</div>
                </div>
            </div>                                                                        
        </li>
       
        <li class="active">
            <a href="{% url 'home' %}"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a> 
        </li>

        <li>
            <a href="{% url 'notice_board' %}">
                <span class="fa fa-envelope"></span>
                <span class="xn-text">{% trans 'NoticeBoard' %}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'staff_management' %}">
                <span class="fa fa-users"></span>
                <span class="xn-text">{% trans 'Staff Management' %}</span>
            </a>
        </li>

        <li class="xn-openable">
           <a href="{% url 'academics_management' %}">
                <span class="fa fa-university"></span>
                <span class="xn-text">{% trans 'Academics Management' %}</span>
            </a>
                <ul>
                    <li><a href="form-elements.html"><span class="fa fa-file-text-o"></span>Academice Year</a></li>
                    <li><a href="{% url 'subject_management' %}"><span class="fa fa-book "></span>Academice Subject</a></li>
                    <li><a href="form-wizards.html"><span class="fa fa-arrow-right"></span>Academice Template</a></li>
                </ul>
        </li>
        <li>
            
        </li>

    </ul>
</div>
