.messages{
	padding-left: 1px;
	list-style: none;
}
.messages .error{
	background-color: #E04B4A;
    color: #FFF;
    border-color: #af4342;
    padding: 2px 5px;
}
.messages .success{
	background-color: #3c763d;
    color: #FFF;
    border-color: #af4342;
    padding: 2px 5px;
}

.page-container .page-content .content-frame .content-frame-body{
    margin-left: 0px;
}

.timeline .timeline-item {
    width: 100%;
}

.notice-board {
    background-color: rgb(6,116,46) !important;
    border: 14px solid;
    border-image: url("/static/common/img/blackboard.png") 10;
}

.green-board {
    height: auto;
    margin: 30px auto;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

.green-board h3 {
    color: #FFFF1F
}

.divider{
    margin:5px;
}